*.user
*.log
*.map

/src/.vs
/src/packages


/src/Grenitaus.Consulting.Web/bin
/src/Grenitaus.Consulting.Web/obj
/src/Grenitaus.Consulting.Web/dist
/src/Grenitaus.Consulting.Web/tmp
/src/Grenitaus.Consulting.Web/node_modules


/src/Grenitaus.Consulting.Web/src/app/*.js
/src/Grenitaus.Consulting.Web/src/app/*.map

/src/Grenitaus.Consulting.Web/src/*.js
/src/Grenitaus.Consulting.Web/src/*.map

/src/Grenitaus.Consulting.Web/src/environments/*.js
/src/Grenitaus.Consulting.Web/src/environments/*.map




