*.user
*.log
*.map

/src/Grenitaus.Consulting.Web/main.js

/src/.vs
/src/packages
/src/Grenitaus.Consulting.Web/bin
/src/Grenitaus.Consulting.Web/obj
/src/Grenitaus.Consulting.Web/node_modules
/src/Grenitaus.Consulting.Web/app/*.js
/src/Grenitaus.Consulting.Web/app/components/*.js
/src/Grenitaus.Consulting.Web/app/modules/*.js