*.user
*.log
*.map

/src/.vs

dist
node_modules


/src/app/*.js
/src/app/*.map

/src/*.js
/src/*.map

/src/environments/*.js
/src/environments/*.map


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

